# Google Service Account (Drive + Sheets)
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_ROOT_FOLDER_ID=
GOOGLE_DRIVE_EXPORTS_FOLDER_ID=
GOOGLE_IMPERSONATED_USER=
